h1 {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    width: 90%;
    margin: 20px auto;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f9f9f9;
}

.product-actions {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.product-actions button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.edit-product {
    background-color: #007bff;
}

.remove-product {
    background-color: #d43912;
}

.product-actions button i {
    color: white;
    transition: color 0.3s;
}

.edit-product:hover {
    background-color: #073566;
    transition: background-color 0.3s;
}

.remove-product:hover {
    background-color: #77200a;
    transition: background-color 0.3s;
}

.product-description{
    width: 250px;
}